@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.homePage-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282a36;
  color: #fff;
  height: 100vh;
}
.form-Wrapper {
  background-color: black;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
}
.form-Wrapper img {
  width: 100%;
  height: 150px;
  justify-self: center;
}
footer img {
  width: 80px;
  height: 80px;
}
footer {
  position: fixed;
  color: #8a8a8a;
  bottom: 0;
  display: flex;
  align-items: center;
}
footer h4 {
  font-size: 1.5rem;
  top: auto;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.main-label {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  text-align: left;
}

.inputbox {
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
  background-color: #eeeeee;
}
.joinbtn {
  background-color: #43e06b;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.create-info {
  text-align: center;
  margin-left: auto;
}
.create-new {
  color: #43e06b;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.joinbtn:hover {
  background-color: #7860e2;
}
.create-new:hover {
  color: #7860e2;
}
.main-Wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
}
.sidebar {
  background-color: #262836;
  color: #fff;
  padding: 14px;
  display: flex;
  flex-direction: column;
}
.sidebar-body {
  flex: 1;
}
.logo {
  border-bottom: 1px solid #fff;
  margin-bottom: 14px;
}
.logoImage {
  width: 240px;
  height: 80px;
  /* border: #43e06b 1px solid; */
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.users-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  margin-top: 20px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.user:hover {
  transform: scale(1.05);
}
.btn:hover {
  transform: scale(1.05);
}
.copy {
  font-size: 1.2rem;
  background-color: #8e67e4;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}
.exit {
  font-size: 1.1rem;
  background-color: #ce3f3fe5;
  color: #fff;
  padding: 5px;
  font-weight: bold;
}
.exit:hover {
  background-color: #bb4444ce;
}
.copy:hover {
  background-color: #6852ccab;
}
.online {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.CodeMirror{
  font-size: 18px;
  min-height: 100vh;
  line-height: 1.6;
  padding-top: 20px;
  word-spacing: 4px;
  letter-spacing: 0.3px;
}