@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.homePage-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282a36;
  color: #fff;
  height: 100vh;
}
.form-Wrapper {
  background-color: black;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
}
.form-Wrapper img {
  width: 100%;
  height: 150px;
  justify-self: center;
}
footer img {
  width: 80px;
  height: 80px;
}
footer {
  position: fixed;
  color: #8a8a8a;
  bottom: 0;
  display: flex;
  align-items: center;
}
footer h4 {
  font-size: 1.5rem;
  top: auto;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.main-label {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  text-align: left;
}

.inputbox {
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 14px;
  background-color: #eeeeee;
}
.joinbtn {
  background-color: #43e06b;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.create-info {
  text-align: center;
  margin-left: auto;
}
.create-new{
  color: #43e06b;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.joinbtn:hover {
  background-color: #7860e2;
}
.create-new:hover {
  color: #7860e2;
}